.file-index ul {
    text-decoration: none;
    color: var(--main-header-color);
}
.file-index a {
    text-decoration: none;
    color: var(--main-header-color);
}
.file-index a:hover {
    color: var(--main-text-color);
}